@{
    Layout = "~/Views/Shared/CovidX/Dashboard.cshtml";

}

@{
    string headerText = "Register Nurse";
}


@model RegistrationModel

@section PageHeader{

    <partial name="CovidX/Page/_Header" model="headerText" />
}

<body class="hold-transition login-page">
    <partial name="CovidX/_Styles" />
    <div class="login-box-msg">
        <div class="login-logo">
            <a href="#"><b>CO</b>-X</a>
        </div>
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title" style="text-align: center">Nurse Registration Sign Up</h3>

            </div>

            <div class="card-body login-card-body">
                <form asp-controller="Nurse"
                      asp-action="NurseRegister"
                      method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">

                        <input asp-for="@Model.Email"
                               class="form-control"
                               placeholder="Enter Nurse Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <!-- INPUT VALIDATION MESSAGE -->
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="@Model.Password"
                               class="form-control"
                               placeholder="Enter Nurse Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <!-- INPUT VALIDATION MESSAGE -->
                        <span asp-validation-for="Password" class="text-danger" />
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="@Model.ConfirmPassword"
                               class="form-control"
                               placeholder="Confirm Nurse Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <!-- INPUT VALIDATION MESSAGE -->
                        <span asp-validation-for="ConfirmPassword" class="text-danger" />
                    </div>

                    <!-- To get the returnURL value on the controller action -->
                    <input type="hidden" id="returnUrl" name="returnUrl" value="@Context.Request.Path" />
                    <div class="card-footer" style="text-align: center">
                        <button type="submit" class="btn btn-outline-primary btn-block">Register</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <partial name="CovidX/_Scripts" />
</body>
