@{
    Layout = "~/Views/Shared/CovidX/Dashboard.cshtml";

}

@model ManagerReportViewModel
@inject INurseServices _nurseService

@{
    string headerText = "Reports";

}

@section PageHeader{

    <partial name="CovidX/Page/_Header" model="headerText" />
}
@section Scripts{

    <script>
        $(function () {

            $("#example").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');
            //Date range picker
            $('#reservation').daterangepicker({

                locale: {
                    format: 'DD/MM/YYYY '
                }
            })
        })
    </script>


    <!-- Page specific script -->



}

<div class="row justify-content-center">


    <form asp-controller="Manager"
          asp-action="Reports"
          class="col-md-8">
        <div class="card card-navy">
            <div class="card-header">
                <h3 class="card-title">Date picker</h3>
            </div>
            <div class="card-body">

                <!-- Date range -->
                <div class="form-group">
                    <label asp-for="DateInput">Date range:</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input asp-for="DateInput" type="text" class="form-control float-right" id="reservation">
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->

                <div class="form-group row">
                    <label asp-for="nurseID" class="text-muted col-sm-2 col-form-label">Select a nurse</label>


                    <select asp-for="nurseID"
                            asp-items="_nurseService.GetNurseList()"
                            class="selectpicker"
                            data-width="100%"
                            data-live-search="true"
                            multiple
                            data-max-options="5"
                            title="Select Nurse(s)">
                    </select>
                    <span asp-validation-for="nurseID" style="display:inline" />

                </div>


                <!-- /.card-body -->
            </div>
            <div class="card-footer">
                <!-- ADD BUTTONS HERE -->
                <button type="submit"
                        class="btn btn-outline-primary">
                    Generate Report
                </button>
            </div>
        </div>
    </form>

</div>




