@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/CovidX/Dashboard - Copy.cshtml";
}

<div class="card" style="height:75vh;">
    <div class="card-body row">
        <div class="col-8 text-center d-flex align-items-center justify-content-center">
          
            <div class="text-center">
                <img class="img-fluid img-thumbnail" src="~/img/checkCoxbrand.jpg" alt="User profile picture" style="max-height:500px;">
            </div>
        </div>
        <div class="col-4  text-center d-flex align-items-center justify-content-center">
            <div class="col text-center d-flex align-items-center">
                <a class="btn btn-outline-info btn-block btn-lg"
                   asp-action="Register"
                   asp-controller="Account">
                    <i class="fa fa-user-plus"></i> Get Started Here
                </a>
            </div>
        </div>
    </div>
</div>
