@{
    Layout = "~/Views/Shared/CovidX/Dashboard.cshtml";

}

@inject INurseServices _nurseService
@inject UserManager<EFCoreIdentityUser> _userManager


@{
    string headerText = "Nurse Dashboard";
    //// get the user id
    var user = await _userManager.GetUserAsync(User);
    var nurse = _nurseService.FindNurseByUserID(user.Id);



}

@section PageHeader{
    <partial name="CovidX/Page/_Header" model="headerText" />
}

<!-- 12 COLUMN ROW START -->
<div class="row justify-content-center">
    <partial name="CovidX/Page/_Alert" model="Model.Alert" />
</div>

<!-- 6 COLUMN CARD START -->
<div class="col-md-12">
    <div class="card">
        <!-- CARD HEADER START -->
        <div class="card-header border-0">
            <h3 class="card-title">Test Requests by favourite Suburbs</h3>
            <!-- CARD TOOLS START -->
            <div class="card-tools">
                <!-- ADD CARD TOOLS HERE -->
                <partial name="CovidX/Card/Tool/_collapse" />
                <partial name="CovidX/Card/Tool/_maximize" />

            </div>
            <!-- CARD TOOLS END -->
        </div>
        <!-- CARD HEADER END -->
        <!-- CARD BODY START -->
        <div class="card-body table-responsive p-0">
            <!-- ADD CONTENT HERE -->
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <!-- TABLE HEADERS -->
                        <th>Test Location</th> <!-- Test Address-->
                        <th>Suburb</th>
                        <th>Test Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @if (nurse is null)
                    {
                        //show nothing
                    }
                    else
                    {
                        foreach (var fav in _nurseService.GetMyTestRequests(nurse.NurseID))
                        {
                            <!-- TABLE CONTENT ROW -->
                            <tr>
                                <td>
                                    @fav.TestAddress1
                                </td>
                                <td>
                                    @fav.Suburb.SuburbName
                                </td>
                                <td>
                                    @switch (fav.RequestStatus)
                                    {
                                        case TestRequestStatus.New:
                                            <span class="badge bg-purple">New</span>
                                            break;
                                        case TestRequestStatus.Cancelled:
                                            <span class="badge bg-danger">Canceled</span>
                                            break;
                                        case TestRequestStatus.Assigned:
                                            <span class="badge bg-blue">Assigned</span>
                                            break;
                                        case TestRequestStatus.Scheduled:
                                            <span class="badge bg-green">Scheduled</span>
                                            break;
                                        case TestRequestStatus.Performed:
                                            <span class="badge bg-lime">Performed</span>
                                            break;
                                        case TestRequestStatus.AtLab:
                                            <span class="badge bg-yellow">At lab</span>
                                            break;
                                        case TestRequestStatus.Closed:
                                            <span class="badge bg-fuchsia">Closed</span>
                                            break;
                                        default:
                                            break;
                                    }
                                </td>
                                <td>
                                    <form asp-controller="Nurse"
                                          asp-action="Assign">
                                        <button type="submit"
                                                class="btn btn-block btn-outline-secondary btn-flat">
                                            pick
                                        </button>
                                        <input type="hidden" name="testRequestID" value="@fav.TestRequestID" />
                                        <input type="hidden" name="userID" value="@user.Id" />
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    }
                </tbody>
            </table>

        </div>
        <!-- CARD BODY END -->
    </div>
</div>
<!-- 6 COLUMN CARD END -->
