@model PatientCreateViewModel

@inject IPatientAPI _patientService
<!-- SWITCH MedicalAid Status INPUT START -->
<div class="form-group">
    <div class="custom-control custom-switch">
        <!-- INPUT ITEM -->
        <input asp-for="MedicalAidStatus"
               class="custom-control-input">
        <!-- INPUT LABEL -->
        <label asp-for="MedicalAidStatus"
               class="custom-control-label">Has Medical Aid?</label>
    </div>
</div>
<!-- SWITCH INPUT END -->
<!-- Medical Aid Plan INPUT START -->
<div class="form-group">




    <!-- INPUT LABEL -->
    <label>Medical Aid Plan</label>

    <!-- INPUT ITEM -->
    <select asp-for="MedicalAidPlanID"
            class="selectpicker"
            data-width="100%"
            data-live-search="true"
            title="Select Medical Aid">
        @foreach (var option in _patientService.GetMedicalAidList())
        {
            <option data-subtext="@option.DisplaySubtext"
                    value="@option.Value">
                @option.DisplayText
            </option>
        }
    </select>

    <!-- INPUT VALIDATION MESSAGE -->
    <span asp-validation-for="MedicalAidPlanID"
          style="display:inline" />
</div>
<!-- Medical Aid Plan INPUT END -->
<!-- Dependency Code -->
<label asp-for="DependencyCode">Dependent Code</label>
<div class="input-group mb-3">

    <input asp-for="DependencyCode" class="form-control" placeholder="Dependent Code">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-file-medical"></span>
        </div>
    </div>
    <span asp-validation-for="DependencyCode" class="error invalid-feedback" />
</div>

<!-- Medical Aid No -->
<label asp-for="MedicalAidNo">Medical Aid Number</label>
<div class="input-group mb-3">

    <input asp-for="MedicalAidNo" class="form-control" placeholder="Medical Aid Number">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-file-medical"></span>
        </div>
    </div>
    <span asp-validation-for="MedicalAidNo" class="error invalid-feedback" />
</div>

<!-- Person Responsible -->
<label asp-for="PersonResponsible">Person Responsible for accounts</label>
<div class="input-group mb-3">

    <input asp-for="PersonResponsible" class="form-control" placeholder="Person Responsible Full Name">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-address-card"></span>
        </div>
    </div>
    <span asp-validation-for="PersonResponsible" class="error invalid-feedback" />
</div>
