@{
    string BrandName = "CO-X!";
            }

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    @*<partial name="CovidX/MainNavigation/_Brand" model="BrandName" />*@

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <partial name="CovidX/MainNavigation/_UserAccount" />

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false">

                <!-- Home Controller Navigation -->
                @*@if (User.IsInRole(CovidXRoles.PATIENT) || User.IsInRole(CovidXRoles.ADMIN))
                {

                }*@

                <partial name="CovidX/MainNavigation/_HomeNavigation" />
                <!-- Patient Controller Navigation -->
                <partial name="CovidX/MainNavigation/_PatientNavigation" />

                <!-- Calendar Controller Navigation -->
                @*<partial name="CovidX/MainNavigation/_CalanderNavigation" />*@

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</aside>
