@{
    string BrandName = "CO-X";
            }

<aside class="main-sidebar sidebar-light-blue elevation-4">
    <partial name="CovidX/MainNavigation/_Brand" model="BrandName" />

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        @if (User.Identity.IsAuthenticated)
        {
            <partial name="CovidX/MainNavigation/_UserAccount" />

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column"
                    data-widget="treeview"
                    role="menu"
                    data-accordion="false">

                    <!-- Home Controller Navigation -->
                    <partial name="CovidX/MainNavigation/_HomeNavigation" />
                    @if (User.IsInRole(CovidXRoles.PATIENT))
                    {

                        <!-- Patient Controller Navigation -->
                        <partial name="CovidX/MainNavigation/_PatientNavigation" />
                    }

                    @if (User.IsInRole(CovidXRoles.NURSE))
                    {
                        <partial name="CovidX/MainNavigation/_NurseNavigation" />
                        <!--Calander controller Navigation-->

                    }

                    @if (User.IsInRole(CovidXRoles.ADMIN))
                    {
                        <partial name="CovidX/MainNavigation/_ManagerNavigation" />
                    }


                </ul>
            </nav>
        }
        <!-- /.sidebar-menu -->
    </div>
</aside>
