<li class="nav-item">
    <a asp-controller="Calendar"
       asp-action="Index"
       class="nav-link @Url.MakeActiveClass(controllerName: "Calendar")">
        <i class="nav-icon fas fa-calendar"></i>
        <p>
            Calendar Demo
        </p>
    </a>
</li>
