<li class="nav-item">
    <a asp-controller="Home"
       asp-action="Index"
       class="nav-link @Url.MakeActiveClass(controllerName: "Home")">
        <i class="nav-icon fas fa-home"></i>
        <p>
            Home
        </p>
    </a>
</li>