
@if (User.IsInRole(CovidXRoles.PATIENT))
{
    <li class="nav-item">
        <a asp-controller="Home"
           asp-action="PatientDashboard"
           class="nav-link @Url.MakeActiveClass(controllerName: "Home")">
            <i class="nav-icon fas fa-home"></i>
            <p>
                Home
            </p>
        </a>
    </li>
}

@if (User.IsInRole(CovidXRoles.NURSE))
{
    <li class="nav-item">
        <a asp-controller="Home"
           asp-action="NurseDashboard"
           class="nav-link @Url.MakeActiveClass(controllerName: "Home")">
            <i class="nav-icon fas fa-home"></i>
            <p>
                Home
            </p>
        </a>
    </li>
}

@if (User.IsInRole(CovidXRoles.ADMIN))
{
    <li class="nav-item">
        <a asp-controller="Home"
           asp-action="Dashboard"
           class="nav-link @Url.MakeActiveClass(controllerName: "Home")">
            <i class="nav-icon fas fa-home"></i>
            <p>
                Home
            </p>
        </a>
    </li>
}